[tool.poetry]
name = "iscc-cli"
version = "0.4.0"
description = "ISCC CLI - Creates ISCC Codes from Media Files"
authors = ["Titusz Pan <tp@py7.de>"]
license = "MIT"
readme = "README.md"
homepage = "https://iscc.codes/"
repository = "https://github.com/iscc/iscc-cli"
keywords = ["iscc", "media", "identifier", "blockchain", "cli", "generator"]

classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Intended Audience :: Information Technology",
    "Environment :: Console",
    "License :: OSI Approved :: MIT License",
    "Operating System :: Unix",
    "Operating System :: POSIX",
    "Operating System :: Microsoft :: Windows",
    'Programming Language :: Python',
    'Programming Language :: Python :: 3.5',
    'Programming Language :: Python :: 3.6',
    'Programming Language :: Python :: 3.7',
    "Topic :: Multimedia",
    "Topic :: System :: Archiving",
    "Topic :: Utilities",
    "Topic :: Software Development",
]

[tool.poetry.scripts]
iscc = 'iscc_cli.cli:cli'

[tool.poetry.dependencies]
python = "^3.5"
click = "^7.0"
iscc = "^1.0.4"
tika = "^1.19"
click-default-group = "^1.2"

[tool.poetry.dev-dependencies]
pytest = "^3.0"
black = { version = "^19.3b0", python = "^3.6" }
pyinstaller = "^3.4"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
